#menu {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(1, 42, 153);
    color: aliceblue;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    z-index: 27;
    /* transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1.1); */
}
#menu.times {
    transform: rotate(-180deg);
}
#navbar {
    position: fixed;
    top: 15px;
    right: 25px;
    border: 1px solid blue;
    padding: 10px 15px 10px 10px;
    border-radius: 10px;
    z-index: 4;
    transform: scale(0);
    opacity: 0;
    /* transform-origin: top right;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1.1); */
}
#navbar.navbar-tugl {
    transform: scale(1);
    opacity: 1;
}
#navbar a {
    display: block;
    padding: 5px 70px 5px 10px;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
}
#navbar a:hover {
    color: blue;
    background-color: aliceblue;
    transition: all 1s ease;
}